 /* *,
*::before,
*::after {
  box-sizing: border-box;
} */

body {
  font-size: 30px;
  font-family: "Roboto", sans-serif;
  background-color: #eff5f8;
  color: #001b44;
  align-items: center;
  width: 100vw;
  height: 100vh;
  justify-content: center;
}
  

.timer {
  background-color: aquamarine;

  display: flex;

}

#center {
  text-align: center;
}